/* Estilos para toda la web*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Estilo encabezado*/
header{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 120px;
    background: #444;
}

.social{
    position: absolute;
    width: 42px;
    height: 42px;
    background: #ccc;
    border-radius: 100%;
}

#logo{
    position:  absolute;
    top: 30px;
    left: 30px;
    width: 200px;
    height: 60px;
    background: #ccc;
}

#icon1{
    top: 42px;
    right: 120px;
}

#icon2{
    top: 42px;
    right: 70px;
}

#icon3{
    top: 42px;
    right: 19px;
}

/*Barra de navegacion*/

nav{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 48px;
}

.btn{
    float: left;
    width: 196px;
    margin: 0px 2px;
    height: 48px;
    background: #333;
}

/*Barra superior*/

#superior{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 192px;
}

#superior ul{
    width: 1010px;
    height: 192px;
}

#superior ul li{
    float: left;
    width: 326px;
    height: 192px;
    background: black;
    margin-right: 10px;
}

/*Bloque central*/

section{
    position: relative;
    margin: auto;
    width: 1000px;
    height: 800px;
    background: #aaa;
}

aside#izq{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 800px;
    background: #333;
}

aside p {
    font-size: 18px;
    text-align: justify;
}

aside h1,p {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: auto;

}

aside h3 {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: auto;
   
}

article{
    position: absolute;
    left: 200px;
    top: 0;
    width: 600px;
    height: 800px;
    background: #666;
}

article h1, p {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    text-align: left;

}

.contenedor h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.contenedor img {
    width: 200px;
    float: left;
    margin: 0px,0px,20px,20px;
}

#edit {
    width: 200px;
    float: right;
    margin: 0px,0px,20px,20px; 
    height: 160px;
}
.contenedor p{
    text-align: justify;
}
aside#der{
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 800px;
    background: #333;
}

aside img {
    width: 180px;
    padding: 10px;
}

/*Pie de pagina*/

footer{
    position: relative;
    margin: 20px auto;
    width: 1000px;
    height: 70px;
    background: #888;
    text-align: center;
    font-family: 'Roboto', sans-serif
}


.piepagina{
    padding-top: 15px;
    font-size: 14px;
    color: rgb(77, 77, 77);
    padding-left: 30px;
}
